<section class="letter">
    <p class="date text-muted">October 10, 2019</p>
    <h1>Dear Stack Exchange, Inc,</h1>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>

    <h2>Why we are upset</h2>
    <p>
        Not all of us are upset about the same things, but we have identified common themes that underlie our concerns with the direction that the Stack Exchange network is going down. While recent events have proved to be the catalyst for us to voice our disappointment, our concerns here stem from a number of actions and the impression we’ve received of the company’s direction over the past year or more.
    </p>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>
    <p>
        Not all of us are upset about the same things, but we have identified common themes that underlie our concerns with the direction that the Stack Exchange network is going down. While recent events have proved to be the catalyst for us to voice our disappointment, our concerns here stem from a number of actions and the impression we’ve received of the company’s direction over the past year or more.
    </p>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>
    <h2>Moving forward</h2>
    <p>
        Not all of us are upset about the same things, but we have identified common themes that underlie our concerns with the direction that the Stack Exchange network is going down. While recent events have proved to be the catalyst for us to voice our disappointment, our concerns here stem from a number of actions and the impression we’ve received of the company’s direction over the past year or more.
    </p>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>
    <p>
        Not all of us are upset about the same things, but we have identified common themes that underlie our concerns with the direction that the Stack Exchange network is going down. While recent events have proved to be the catalyst for us to voice our disappointment, our concerns here stem from a number of actions and the impression we’ve received of the company’s direction over the past year or more.
    </p>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>
    <p>
        We, the undersigned community-elected and appointed moderators of the Stack Exchange network, are extremely disappointed in your conduct over the past few weeks. It should be clear enough from the public feedback you’ve been getting that we’re not the only ones upset with you right now, but as a group of people who have invested a lot in Stack Exchange, this is intended to be a digest of our collective opinions.
    </p>
</section>

<hr/>

<%- include('signatories', {signatories}) %>

<%- include('signing') %>