<section class="letter">
        <p class="date text-muted">October 5, 2019</p>
    
        <aside>
            <i class="fas fa-info-circle"></i>
            <p>
                <strong>Editor's note:</strong> We are aware of the <a href="https://meta.stackexchange.com/questions/334551/an-apology-to-our-community-and-next-steps">recent post
                from Stack Exchange</a>. It begins to address a number of the concerns we've expressed in this letter, but we still believe what we've said here is important, and
                goes beyond this one incident. Please bear in mind while you're reading that this was written before the apology post came out.
            </p>
        </aside>
    
        <h1>Dear Stack Exchange, Inc.,</h1>
        <p>We, the undersigned moderators and users of the Stack Exchange network, feel that it is necessary to elaborate on a few points that were omitted in our general letter, in order to keep that letter focused.</p>
	    <p>We are members and allies of the LGBTQ+ community, and we are hurt.</p>
	    <p>We are hurt that in the time since the announcement in the Teachers’ Lounge was made, we have seen an outpouring of transphobic behavior from both other moderators and the community at large, under the guise of ‘friendly’ discussion.</p>
	    <p>We are hurt that over the years, there have been multiple users and moderators who have stepped away from using the site because they felt unwelcome due to anti-LGBTQ+ behavior by the community (and sometimes even moderators). The affected users and moderators have given multiple testimonies to that effect, yet have received no response from Stack Exchange, Inc.</p>
	    <p>We are hurt at how long it has taken for us to be heard, and hurt by how now that we are being heard at all, it has been tainted by mishandling by Stack Exchange, Inc, causing the community to be doubtful of our goals.</p>
	    <p>We are hurt that resignations from LGBTQ+ moderators have only started to receive notice due to the uproar over a correlated issue.</p>
	    <p>We are human, we are hurt, we are tired, and we ask that Stack Exchange, and the community as a whole, listens to our concerns.</p>
        <p>We ask that several things be done:</p>
        <ol>
            <li>We ask that Stack Exchange, Inc does more to pay attention to the complaints and requests of the LGBTQ+ community and does more to ensure that rules are properly applied such that LGBTQ+ people are treated with the same respect everyone should be treated with.</li>
            <li>We ask that the consequences for not respecting members of the community be more explicit, and be consistently carried out. Too many times have transphobic or homophobic comments gone by with no response from the Community Team, leaving LGBTQ+ individuals to explain their validity again and again and again.</li>
            <li>Moderating is hard, and the LGBTQ+ community has been underrepresented in media for long enough that many moderators do not know how to handle some specific situations. Some moderators have requested sensitivity training. This would help those who work so hard on behalf of the Stack Exchange community to receive the support and guidance they need to carry out their duties.</li>
        </ol>
	    <p>It is time for something to be done about a situation that has become, frankly, untenable. Please listen to us - each of us, individually. The ways we have been hurt vary, and the things we feel could improve the situation vary. Too many of us have already left because nothing has been done. Thank you.</p>
        
        <aside>
            <i class="fas fa-info-circle"></i>
            <p>
                <strong>Editor's note:</strong> When referring to the company in this letter, we've used the name "Stack&nbsp;Exchange". We're aware that the name that's
                in use is Stack&nbsp;Overflow; we use Stack&nbsp;Exchange because we feel it better represents all of us across the network. For more information on the company
                name, please see the <a href="https://stackoverflow.blog/2015/09/15/were-changing-our-name-back-to-stack-overflow/">blog post that announced the name change</a>.
            </p>
        </aside>
    </section>
    
    <hr/>
    
    <%- include('signatories', {signatories}) %>
    
    <%- include('signing', {letter: 'lavender'}) %>