<section class="letter">
    <p class="date text-muted">February 24, 2020</p>

    <h1>Dear Stack Overflow, Inc.,</h1>
    <p>Stack Overflow the site <a href="https://blog.codinghorror.com/introducing-stackoverflow-com/">was built with a mission</a>. It was built on the foundation of a strong relationship between the core community and the company. It was built hand-in-hand with the community, with the core userbase and the company working as one, in order to fulfill the mission. It was built upon a foundation of trust.</p>
    <p>Recently, however, <a href="https://meta.stackexchange.com/q/333965">that trust has eroded sharply</a>. Communication between the company and the userbase <a href="https://meta.stackexchange.com/q/331513">has broken down</a>. Certain actions taken by Stack Overflow, Inc. have caused faith to be lost on a scale previously unseen on Stack Overflow and the <a href="https://stackexchange.com/sites">Stack Exchange network</a>. Stack Overflow, Inc. has demonstrated that it no longer appreciates the trust and mutual cooperation between the company and the userbase that the site was founded on.</p>
    <p><strong>We, the core moderation userbase of Stack Overflow the site, are tired.</strong></p>
    <p>We are tired of being ignored. We are tired of being mistreated. We are tired of being considered expendable. We are tired of being constantly accused of being toxic.</p>
    <p>There has been an issue building for months now. You have ignored <a href="https://meta.stackexchange.com/a/334345">our posts</a>. You have <a href="https://meta.stackexchange.com/q/341022">mistreated our moderators</a>. You have <a href="https://meta.stackexchange.com/a/342363">disrespected those moderators</a>. You let it be felt that <a href="https://meta.stackexchange.com/q/334575">you consider moderators to be expendable volunteers</a>. You have <a href="https://meta.stackoverflow.com/a/387633">accused your core community of being irredeemably toxic</a>. You have disrespected and ignored the Community Managers, who have attempted to rebuild trust and improve communications. They have been met with <a href="https://meta.stackexchange.com/q/342283">active resistance and passive disregard in these efforts by those in the company itself</a>. You have <a href="https://meta.stackexchange.com/q/342041">unceremoniously and without warning fired two of the most respected staff members you had</a>.</p>
    <p>In blog posts, you have made it clear that you <a href="https://meta.stackoverflow.com/a/393566">prefer to focus on attracting anonymous pageviews over rebuilding trust and communication with your core community</a>. You have <a href="https://meta.stackexchange.com/q/342039">fired the people most qualified and experienced in managing your unique community</a>. You have ignored our attempts to reach out and communicate.</p>
    <p>Since our previous attempts at communication have had no results, it is as a last resort that we are organizing this strike. <strong>We are suspending all moderation activites, including pausing the automated, community-run systems and human coordination to detect and remove spam, close questions, and delete non-answers.</strong></p>
    <p>We have <strong>a specific list of actionable requests that we ask you to act upon, as soon as possible</strong>. We can no longer accept being ignored and taken for granted.</p>
    <ul>
    <li>
    <p>We ask that you <a href="https://meta.stackexchange.com/q/333678">clarify the legality of relicensing our content</a> and to make sure that all posts are properly marked with the applicable license.</p>
    </li>
    <li>
    <p>We ask that <a href="https://meta.stackexchange.com/q/342283">management not interfere</a> with the attempts of remaining Community Managers to communicate with and manage the community in the manner in which they deem best, and allow them to act in the best interests of both the community and the company.</p>
    </li>
    <li>
    <p>We ask that you privately reach out to the moderators who have resigned or been removed, and work with them towards reconciling the core issues over which they resigned or were removed, even if that ultimately does not lead to their reinstatement.</p>
    </li>
    <li>
    <p>We ask that you commit to reducing perceived toxicity on Stack Overflow the site through <a href="https://meta.stackexchange.com/a/342788">improving the moderation and communication tools available to users</a>, in coordination with the core userbase.</p>
    </li>
    <li>
    <p>We ask that you <a href="https://meta.stackexchange.com/q/340164">continue to use Meta as a two-way communication method</a>, through which the company and the community interact on a regular basis.</p>
    </li>
    <li>
    <p>Finally, <strong>we ask that you consider the core moderation userbase through all stages of making decisions</strong>, and implement clear, transparent methods for actively working with the core userbase, such as soliciting feedback and suggestions <em>before</em> changes are rolled out, and acting on that feedback.</p>
    </li>
    </ul>
    <p>We do not expect changes to be made overnight at this point. However, <strong>open, transparent communication about forthcoming changes and plans</strong> is a crucial aspect of this that has been missing for quite some time. <strong>The lack of communication has been a problem for far too long.</strong> Even if you intend to address an issue, keeping quiet about such a plan for months does not help to improve your fragile relation with your community. Transparency in decisions and communication as well as open, two-way communication would massively improve community and company relations.</p>
    <p>In addition, we wish to make it clear that <strong>we do not in any way oppose efforts to reduce hostility and promote inclusivity on the site</strong>, nor do we wish Stack Overflow the site or the company ill in any way. However, the purpose of this strike is to make a point to the management of Stack Overflow, Inc. of the extent to which they rely upon the goodwill and volunteer efforts of their core userbase. <strong>We wish to show Stack Overflow, Inc., that they cannot continue to treat us as expendable. They <em>must</em> work hand-in-hand with the core userbase of the site to continue to maintain the site and curate content</strong>. Any actions taken as part of this strike are intended to be fully reversible. We want to reach an amicable resolution, not irrepairably damage the site.</p>
    <p>We hope that Stack Overflow, Inc. will reach out and attempt to rebuild the trust that has been lost. We want to work with the company to regain the mutual trust and goodwill that was a hallmark of Stack Overflow the site for many years. We believe that Stack Overflow, Inc. can once again work together with its core userbase in mutual trust and respect to provide a valuable resource for all.</p>
    <p>We write this letter with the hope that Stack Overflow, Inc. will take this opportunity to reach out to us and address our concerns, and work together with us towards an amicable resolution.</p>
</section>
<%- include('signatories', {signatories}) %>
    
<%- include('signing', {letter: 'lavender'}) %>