body {
    background: #444 !important;
}

.color-mode-toggle {
    background: white;
    border: 1px solid #444;
}

main {
    background: #333;
    color: #CCC;
}

.content-container:after {
    box-shadow: 0 0 0.5em #111;
}

section.signatories h5 {
    color: #AAA;
}

.signatory-panel p:hover {
    background: #444;
}

.text-muted {
    color: #8f979e !important;
}

a {
    color: #3396ff !important;
}

.btn-primary {
    background: #3396ff !important;
    border-color: #3396ff !important;
}

input[type="text"] {
    background: #666;
    color: white;
}
