body {
    background: #444 !important;
}

.color-mode-toggle {
    background: white;
    border: 1px solid #444;
}

main {
    background: #333;
    color: #CCC;
}

.content-container:after {
    box-shadow: 0 0 0.5em #5b584d;
}

section.signatories h5 {
    color: #AAA;
}

.signatory-panel p:hover {
    background: #444;
}
