<div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
    <div class="card mt-4">
        <div class="card-body">
            <h1>Edit your details</h1>
            <p>Something changed? Something not quite right? You can update the details we've got for you here.</p>
            
            <%- include('form', {errors, user, buttonLabel: 'Update', submitPath: `/users/${user.id}/edit`, editMode: true}) %>
        </div>
    </div>
</div>
