<div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
    <div class="card mt-4">
        <div class="card-body">
            <h1>User <%= current_user.username %></h1>

            <form method="POST" action="/users/logout">
                <button type="submit" class="btn btn-warning"><i class="fas fa-sign-out-alt"></i> Sign out</button>
            </form>
        </div>
    </div>
</div>