<div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
    <div class="card mt-4">
        <div class="card-body">
            <h1>Register</h1>
            <p>All users must have an account to access the Patches system.</p>
            
            <%- include('form', {errors, user, buttonLabel: 'Register', submitPath: '/users/new', editMode: false}) %>
        </div>
    </div>
</div>
